<div class="row">

  <div class="col-md-6 login-container">
    <h2 style="margin: auto">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
        <div class="error" *ngIf="forgotPasswordForm.controls['username'].hasError('required') && forgotPasswordForm.controls['username'].touched">Username is required</div>
      </div>
      <button class="btn btn-success" style="margin-bottom: 20px; width:180px" [disabled]="forgotPasswordForm.invalid">Regenerate Password</button>
    </form>

  </div>
</div>
