<div class="row">

  <div class="col-md-6 login-container">
    <h2 style="margin: auto">Forgot Username</h2>
    <form [formGroup]="forgotUsernameForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" formControlName="email" id="email" autocomplete="off">
        <div class="error" *ngIf="forgotUsernameForm.controls['email'].hasError('required') && forgotUsernameForm.controls['email'].touched">Email is required</div>
      </div>
      <button class="btn btn-success" style="margin-bottom: 20px; width:180px" [disabled]="forgotUsernameForm.invalid">Send Username</button>
    </form>

  </div>
</div>
